@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  
  --color-wedding-rose: #f4ece8;
  --color-wedding-taupe: #a89f91;
  --color-wedding-sage: #e8ede7;
  --color-wedding-sand: #fbf9f6;
  --color-wedding-text: #4a4542;
}

body {
  background-color: var(--color-wedding-sand);
  color: var(--color-wedding-text);
  font-family: var(--font-sans);
}
